# Assignment
* Download the "Assignment.ipynb" notebook 
* Fill in the code in the cells marked with #GRADED#
* Code cells outside of #GRADED# will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [9]:
# GRADED
# Provided below are functions that are completely defined (add_numbers),
# partially defined (sub_numbers) and not defined (mult_numbers)
# (a) Complete sub_numbers so that it return difference of two numbers
# (b) Write a function called mult_numbers to multiply two numbers

def add_numbers(a, b):
    result = a + b
    return result

def sub_numbers(a, b):
    # Write code to return sum of a and b
    result =  a - b #Replace None with your code
    return result

def mult_numbers(a , b):
    result = a * b
    return result

9

In [10]:
# GRADED

# Write a function that takes a name and returns
# "Your name is <given_name>"
# Example:
# print_name("Sharat") should return "Your name is Sharat"
# Hint: You string formatting functionality. https://pyformat.info/
def print_name(name):
    formatted_result = "Your name is {name}".format(name="Sharat") # Replace with format string
    return formatted_result

print_name("Sharat")

'Your name is Sharat'

In [ ]:
# GRADED
# 
# (a) Using a for loop, iterate through the list x
# and print an item if its divisible by 2 and less than 6
# (b) Using a for loop, iterate through the dictionary y
# and print a single string of the form "company, ceo"
# e.g. "CEO: Apple, Name: Tim Cook" will be the third entry
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y = {
    'Satya Nadella': 'Microsoft',
    'Jeff Bezos': 'Amazon',
    'Tim Cook': 'Apple'
}

for a in x:
    if a < 6:
        if a % 2 ==0:
            print(a)

for m,n in y.items():
    formated_result = "Company:{},CEO:{}".format(n,m)
    print(formated_result)

In [2]:
def add_numbers(a, b):
    result = a + b
    return result

def sub_numbers(a, b):
    # Write code to return sum of a and b
    result =  a - b #Replace None with your code
    return result

def mult_numbers(a , b):
    result = a * b
    return result

print(mult_numbers(add_numbers(5,4), sub_numbers(5,4)))

9

In [3]:
def print_name(name):
    formatted_result = "Your name is {name}".format(name="Sharat") # Replace with format string
    return formatted_result

print_name("Sharat")

'Your name is Sharat'

In [15]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for a in x:
    if a < 6:
        if a % 2 ==0:
            print(a)

2
4

In [32]:
y = {
    'Satya Nadella': 'Microsoft',
    'Jeff Bezos': 'Amazon',
    'Tim Cook': 'Apple'
}

for m,n in y.items():
    formated_result = "Company:{},CEO:{}".format(n,m)
    print(formated_result)

Company:Amazon,CEO:Jeff Bezos
Company:Apple,CEO:Tim Cook
Company:Microsoft,CEO:Satya Nadella

In [2]:
y = {
    'Satya Nadella': 'Microsoft',
    'Jeff Bezos': 'Amazon',
    'Tim Cook': 'Apple'
}

for m,n in y.items():
    formated_result = "Company:{},CEO:{}".format(n,m)
    print(formated_result)

Company:Amazon,CEO:Jeff Bezos
Company:Apple,CEO:Tim Cook
Company:Microsoft,CEO:Satya Nadella