# Assignment
* Download the "Assignment.ipynb" notebook 
* Fill in the code in the cells marked with #GRADED#
* Code cells outside of #GRADED# will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
### GRADED
arr = np.arange(15).reshape(3, 5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [4]:
# (a) Determine the shape, number of dimensions and type of 
# elements in the numpy array arr
print(arr.shape)
print(arr.ndim)
print(arr.dtype)

(3, 5)
2

dtype('int32')

In [4]:
# (b) Determine the sum of elements in arr
arr.sum()

105

In [5]:
# (c) Determine the mean of elements in arr
arr.mean()

7.0

In [6]:
# (d) Create an array of the same shape as arr but filled with zeros
arr1 = np.zeros_like(arr)
arr1

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [7]:
# (e) Create an array of the same shape as arr but filled with ones
arr2 = np.ones_like(arr)
arr2

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [8]:
# (f) Create an array of the same shape as arr but where all elements are squared values
arr3 = np.square(arr)
arr3

array([[  0,   1,   4,   9,  16],
       [ 25,  36,  49,  64,  81],
       [100, 121, 144, 169, 196]], dtype=int32)

In [9]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [10]:
# (g) Create an array result of shape 3*3 resulting from multiplication of arr with transpose(arr). Hint: use np.dot
arr4 = np.dot(arr, arr.T)
arr4

array([[ 30,  80, 130],
       [ 80, 255, 430],
       [130, 430, 730]])

In [11]:
### GRADED
# The following piece of code creates a DataFrame 
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df.head(10) #prints the first 10 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [12]:
# (a) Determine the shape of the dataframe
df.shape

(150, 5)

In [13]:
# (b) Print out all the columns of the dataframe
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
# (c) Print the 3rd element of the dataframe
print(df.iloc[2])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

In [15]:
# (d) Find the average of 'petal_width' where species is 'virginica'
df['petal_width'].groupby(df['species'] == 'virginica').mean()

species
False    0.786
True     2.026
Name: petal_width, dtype: float64

In [16]:
# (e) Find the maximum of 'sepal_width' where species is 'setosa'
df['sepal_width'].groupby(df['species'] == 'setosa').max()

species
False    3.8
True     4.4
Name: sepal_width, dtype: float64

In [17]:
# (f): What is the average value of sepal_length
df['sepal_length'].mean()

5.843333333333335

In [18]:
# (g): What is the maximum value of sepal_width
df['sepal_width'].max()

4.4

In [19]:
# (h): What is the minimum value of petal_width
df['petal_width'].min()

0.1

### GRADED: Getting started on the capstone project
We will start working on our capstone project this week. For this week, the task consists of
Finding a dataset of interest.
    -You can use the links in the supplementary materials to help you find the dataset
    -This dataset should be publicly accessible and available for download
    -Should be of interest to the class
    -The goal is to be askign and answering important questions about the data
You can start with the following datasets or find your own
### Open datasets
          
* Resources for open data
  * https://data.boston.gov/
  * https://www.data.gov/
  * https://www.bls.gov/data/
  * http://www.fao.org/statistics/databases/en/
  * http://ec.europa.eu/eurostat/web/main
  * https://github.com/awesomedata/awesome-public-datasets
  * https://www.kdnuggets.com/2016/05/top-10-datasets-github.html
  * https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public
    
### Questions

* Q: Shortlist three datasets of interest

  * CityScore of Boston  https://data.boston.gov/dataset/cityscore
  * Austin Animal Center Outcomes https://catalog.data.gov/dataset/austin-animal-center-outcomes-version-1-demo
  * Calls For Service Data https://catalog.data.gov/dataset/calls-for-service-data
  
* Q: For each dataset suggest describe the data (a few sentences) and questions that can be answered using that data (a few sentences)
  * The first dataset contains 15,817 rows and 24 columns, listing actual, target, and score data of the metric on overall city health based on work done across all facets of the city of Boston. my initial observation gives me ideas that  I can divide those data into several groups and then analyze the difference between the actual and target in each group by week, month and quarter, even I can create a chart to reflect this difference and present a prediction about the difference in next year.
  * Austin Animal Center Outcomes is a dataset with the records about the status of animals as they leave the Animal Center. It includes 9,200 rows and 12 columns, each row is one outcome per animal per encounter. Data types are plain text and date & time. According to the columns name,  I plan to track the animals status by type, age, sex, and bread, maybe the result can prove Austin is an animal-friendly city.
  * The last dataset of raw data contains information from Bloomington Police Department Calls for Service, specifically it lists information for all Calls for Service received by the Bloomington Police Department. There are 8 CSV files in this dataset, covering four quarters in 2016 and 2017. So I think it is possible to gain some insights about the completion for different nature of the call for service. Like whether there is one kind of call for service has very low probability to be solved. Or the service department has somewhat intendancy to give more priority to some district.