# Assignment
* Download the "Assignment.ipynb" notebook 
* Fill in the code in the cells marked with #GRADED#
* Code cells outside of #GRADED# will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it

In [5]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [6]:
### GRADED
# (a) Determine the shape, number of dimensions and type of 
# elements in the numpy array arr
# (b) Determine the sum of elements in arr
# (c) Determine the mean of elements in arr
# (d) Create an array of the same shape as arr but filled with zeros
# (e) Create an array of the same shape as arr but filled with ones
# (f) Create an array of the same shape as arr but where all elements are squared values
# (g) Create an array result of shape 3*3 resulting from multiplication of arr with transpose(arr). Hint: use np.dot
arr = np.arange(15).reshape(3, 5)

# (a) Determine the shape, number of dimensions and type of elements in the numpy array arr
import pandas as pd
import numpy as np
print('The shape of arr is:',arr.shape)
print('The type of arr is:',type(arr))
print('The dimensions of arr is:',arr.ndim)

# (b) Determine the sum of elements in arr
print('The sum of elements in arr is:',arr.sum())

# (c) Determine the mean of elements in arr
print('The mean of elements in arr is:',arr.mean())

# (d) Create an array of the same shape as arr but filled with zeros
d=np.zeros_like(arr)
print('The same shape but filled with zeros',d)

# (e) Create an array of the same shape as arr but filled with ones
e=np.ones((3,5))
print('The same shape but filled with ones:',e)

# (f) Create an array of the same shape as arr but where all elements are squared values
f=arr**2
print('The same shape but where all elements are squared values:')
print(f)

# (g) Create an array result of shape 3*3 resulting from multiplication of arr with transpose(arr). Hint: use np.dot
g=arr.dot(arr.T)
print('The new array:')
print(g)

The shape of arr is: (3, 5)
The type of arr is: <class 'numpy.ndarray'>
The dimensions of arr is: 2
The sum of elements in arr is: 105
The mean of elements in arr is: 7.0
The same shape but filled with zeros [[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
The same shape but filled with ones: [[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
The same shape but where all elements are squared values:
[[  0   1   4   9  16]
 [ 25  36  49  64  81]
 [100 121 144 169 196]]
The new array:
[[ 30  80 130]
 [ 80 255 430]
 [130 430 730]]

In [7]:
### GRADED
# The following piece of code creates a DataFrame 
# (a) Determine the shape of the dataframe
# (b) Print out all the columns of the dataframe
# (c) Print the 3rd element of the dataframe
# (d) Find the average of 'petal_width' where species is 'virginica'
# (e) Find the maximum of 'sepal_width' where species is 'setosa'
# (f): What is the average value of sepal_length
# (g): What is the maximum value of sepal_width
# (h): What is the minimum value of petal_width
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df.head(10) #prints the first 10 rows

# (a) Determine the shape of the dataframe
print('The shape of the dataframe:',df.shape)
print('----------------')

# (b) Print out all the columns of the dataframe
print(df)
print('================')
# (c) Print the 3rd element of the dataframe
c=df.ix[[2],:]
print('c',c)
print('================')

# (d) Find the average of 'petal_width' where species is 'virginica'
d=df.groupby('species').mean()
print('d',d)
print('================')

# (e) Find the maximum of 'sepal_width' where species is 'setosa'
e=df.groupby('species').max()
print('e',e)
print('================')

# (f): What is the average value of sepal_length
f=df.ix[:,[0]]
f1=f.mean()
print('The average of sepal_length:',f1)

# (g): What is the maximum value of sepal_width
g=df.ix[:,[1]]
g1=g.max()
print('The maximum value of sepal_width:',g1)

# (h): What is the minimum value of petal_width
h=df.ix[:,[3]]
h1=h.min()
print("The minimum value of petal_width:",h1)

The shape of the dataframe: (150, 5)
----------------
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
================
c    sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
================
d             sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026
================
e             sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5
================
The average of sepal_length: sepal_length    5.843333
dtype: float64
The maximum value of sepal_width: sepal_width    4.4
dtype: float64
The minimum value of petal_width: petal_width    0.1
dtype: float64

C:\Users\Jack_\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Jack_\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Jack_\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\Jack_\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### GRADED: Getting started on the capstone project
We will start working on our capstone project this week. For this week, the task consists of
Finding a dataset of interest.
    -You can use the links in the supplementary materials to help you find the dataset
    -This dataset should be publicly accessible and available for download
    -Should be of interest to the class
    -The goal is to be askign and answering important questions about the data
You can start with the following datasets or find your own
### Open datasets
          
* Resources for open data
  * https://data.boston.gov/
  * https://www.data.gov/
  * https://www.bls.gov/data/
  * http://www.fao.org/statistics/databases/en/
  * http://ec.europa.eu/eurostat/web/main
  * https://github.com/awesomedata/awesome-public-datasets
  * https://www.kdnuggets.com/2016/05/top-10-datasets-github.html
  * https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public
    
### Questions

* Q: Shortlist three datasets of interest
* Q: For each dataset suggest describe the data (a few sentences) and questions that can be answered using that data (a few sentences)

In [2]:
import pandas as pd
import numpy as np
df1=pd.read_csv('crime_incident_reports.csv')
df1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182091459,3301,Verbal Disputes,VERBAL DISPUTE,B2,304,NaN,2018-11-11 21:16:00,2018,11,Sunday,21,Part Three,WASHINGTON ST,42.320422,-71.093609,"(42.32042206, -71.09360887)"
1,I182091456,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,A7,16,NaN,2018-11-11 20:42:00,2018,11,Sunday,20,Part Three,CONDOR ST,42.382580,-71.031842,"(42.38258002, -71.03184167)"
2,I182091454,2647,Other,THREATS TO DO BODILY HARM,C11,375,NaN,2018-11-07 20:45:00,2018,11,Wednesday,20,Part Two,NEPONSET AVE,42.286545,-71.044332,"(42.28654487, -71.04433230)"
3,I182091451,3115,Investigate Person,INVESTIGATE PERSON,B2,585,NaN,2018-11-11 20:17:00,2018,11,Sunday,20,Part Three,IROQUOIS ST,42.330147,-71.104445,"(42.33014678, -71.10444485)"
4,I182091450,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,E18,513,NaN,2018-11-11 19:00:00,2018,11,Sunday,19,Part Three,METROPOLITAN AVE,42.252866,-71.109926,"(42.25286575, -71.10992640)"
5,I182091447,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,351,NaN,2018-11-11 20:17:00,2018,11,Sunday,20,Part Three,ADAMS ST,42.299637,-71.058512,"(42.29963709, -71.05851176)"
6,I182091446,3410,Towed,TOWED MOTOR VEHICLE,C11,377,NaN,2018-11-11 19:03:00,2018,11,Sunday,19,Part Three,ROSSELERIN RD,42.292008,-71.053798,"(42.29200752, -71.05379850)"
7,I182091445,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,B2,265,NaN,2018-11-11 20:08:00,2018,11,Sunday,20,Part Three,WAVERLY ST,42.320377,-71.079034,"(42.32037671, -71.07903447)"
8,I182091442,613,Larceny,LARCENY SHOPLIFTING,C11,370,NaN,2018-11-11 19:35:00,2018,11,Sunday,19,Part One,WILLIAM T MORRISSEY BLVD,42.297673,-71.049410,"(42.29767279, -71.04941018)"
9,I182091440,2905,Violations,VAL - OPERATING WITHOUT LICENSE,B2,282,NaN,2018-11-11 19:39:00,2018,11,Sunday,19,Part Two,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
10,I182091437,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",D4,594,NaN,2018-11-11 18:59:00,2018,11,Sunday,18,Part Two,MASSACHUSETTS AVE,42.341870,-71.083722,"(42.34186952, -71.08372190)"
11,I182091436,3301,Verbal Disputes,VERBAL DISPUTE,C11,340,NaN,2018-11-11 19:09:00,2018,11,Sunday,19,Part Three,PERCIVAL ST,42.306457,-71.063718,"(42.30645697, -71.06371823)"
12,I182091434,619,Larceny,LARCENY ALL OTHERS,A1,91,NaN,2018-11-11 19:26:00,2018,11,Sunday,19,Part One,COMMERCIAL ST,42.361601,-71.052961,"(42.36160060, -71.05296127)"
13,I182091433,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,A1,83,NaN,2018-11-09 19:00:00,2018,11,Friday,19,Part Three,CHARTER ST,42.366590,-71.053574,"(42.36659017, -71.05357419)"
14,I182091432,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A1,101,NaN,2018-11-11 02:30:00,2018,11,Sunday,2,Part Two,MILK ST,42.358230,-71.053622,"(42.35822966, -71.05362239)"
15,I182091431,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E13,307,NaN,2018-11-11 18:56:00,2018,11,Sunday,18,Part Two,WASHINGTON ST,42.316152,-71.097951,"(42.31615184, -71.09795135)"
16,I182091428,2647,Other,THREATS TO DO BODILY HARM,B2,328,NaN,2018-11-11 18:05:00,2018,11,Sunday,18,Part Two,COLEUS PARK,42.310721,-71.075379,"(42.31072113, -71.07537884)"
17,I182091428,619,Larceny,LARCENY ALL OTHERS,B2,328,NaN,2018-11-11 18:05:00,2018,11,Sunday,18,Part One,COLEUS PARK,42.310721,-71.075379,"(42.31072113, -71.07537884)"
18,I182091425,619,Larceny,LARCENY ALL OTHERS,B2,587,NaN,2018-11-11 18:11:00,2018,11,Sunday,18,Part One,TREMONT ST,42.332096,-71.098606,"(42.33209622, -71.09860557)"
19,I182091424,801,Simple Assault,ASSAULT - SIMPLE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
20,I182091424,2101,Operating Under the Influence,OPERATING UNDER THE INFLUENCE ALCOHOL,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
21,I182091424,802,Simple Assault,ASSAULT SIMPLE - BATTERY,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
22,I182091424,2405,Disorderly Conduct,DISORDERLY CONDUCT,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
23,I182091424,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Three,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
24,I182091424,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Three,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
25,I182091424,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part One,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
26,I182091423,3112,Landlord/Tenant Disputes,LANDLORD - TENANT SERVICE,E5,822,NaN,2018-11-11 16:09:00,2018,11,Sunday,16,Part Three,WILLERS ST,42.259471,-71.150779,"(42.25947104, -71.15077874)"
27,I182091421,3115,Investigate Person,INVESTIGATE PERSON,A1,102,NaN,2018-11-11 17:07:00,2018,11,Sunday,17,Part Three,WINTER ST,42.356024,-71.061776,"(42.35602373, -71.06177615)"
28,I182091420,3201,Property Lost,PROPERTY - LOST,D4,591,NaN,2018-11-10 02:02:00,2018,11,Saturday,2,Part Three,CHARLESGATE E,42.346983,-71.091120,"(42.34698260, -71.09111988)"
29,I182091419,3114,Investigate Property,INVESTIGATE PROPERTY,B2,304,NaN,2018-11-11 17:53:00,2018,11,Sunday,17,Part Three,ACADEMY CT,42.320820,-71.097876,"(42.32081965, -71.09787569)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338823,I110177502-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,NaN,2015-10-02 21:00:00,2015,10,Friday,21,Part Two,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
338824,I110177502-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,NaN,2015-10-02 21:00:00,2015,10,Friday,21,Part Two,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
338825,I100636670-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338826,I100636670-00,629,Larceny,LARCENY OTHER $50 TO $199,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part One,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338827,I100636670-00,629,Larceny,LARCENY OTHER $50 TO $199,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part One,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338828,I100340225-00,339,Robbery,ROBBERY - UNARMED - STREET,A1,77,NaN,2015-07-27 10:47:00,2015,7,Monday,10,Part One,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
338829,I100340225-00,339,Robbery,ROBBERY - UNARMED - STREET,A1,77,NaN,2015-07-27 10:47:00,2015,7,Monday,10,Part One,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
338830,I100340225-00,339,Robbery,ROBBERY - UNARMED - STREET,A1,77,NaN,2015-07-27 10:47:00,2015,7,Monday,10,Part One,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
338831,I100340225-00,339,Robbery,ROBBERY - UNARMED - STREET,A1,77,NaN,2015-07-27 10:47:00,2015,7,Monday,10,Part One,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
338832,I100340225-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2015-07-27 10:47:00,2015,7,Monday,10,Part Three,BOWDOIN SQ,42.361645,-71.062299,"(42.36164502, -71.06229949)"
338833,I100222105-02,3125,Warrant Arrests,WARRANT ARREST,E13,572,NaN,2015-08-03 16:22:00,2015,8,Monday,16,Part Three,COLUMBUS AVE,42.313628,-71.095603,"(42.31362799, -71.09560307)"
338834,I100033064-00,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338835,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338836,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338837,I090321958-00,3125,Warrant Arrests,WARRANT ARREST,C11,355,NaN,2016-02-01 01:43:00,2016,2,Monday,1,Part Three,GENEVA AVE,NaN,NaN,"(0.00000000, 0.00000000)"
338838,I090321958-00,3125,Warrant Arrests,WARRANT ARREST,C11,355,NaN,2016-02-01 01:43:00,2016,2,Monday,1,Part Three,GENEVA AVE,NaN,NaN,"(0.00000000, 0.00000000)"
338839,I090317057-00,3125,Warrant Arrests,WARRANT ARREST,B3,458,NaN,2015-11-20 11:15:00,2015,11,Friday,11,Part Three,BLUE HILL AVE,42.301897,-71.085549,"(42.30189690, -71.08554944)"
338840,I090317057-00,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,B3,458,NaN,2015-11-20 11:15:00,2015,11,Friday,11,Part One,BLUE HILL AVE,42.301897,-71.085549,"(42.30189690, -71.08554944)"
338841,I080542626-00,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338842,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338843,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338844,I080542626-00,3125,Warrant Arrests,WARRANT ARREST,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Three,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338845,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,NaN,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
338846,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,NaN,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
338847,I060168073-00,3125,Warrant Arrests,WARRANT ARREST,E13,912,NaN,2018-01-27 14:01:00,2018,1,Saturday,14,Part Three,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
338848,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338849,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
338850,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
338851,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
338852,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [3]:
Example1=df1.loc[(df1['DAY_OF_WEEK']=='Sunday')]
Example1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182091459,3301,Verbal Disputes,VERBAL DISPUTE,B2,304,NaN,2018-11-11 21:16:00,2018,11,Sunday,21,Part Three,WASHINGTON ST,42.320422,-71.093609,"(42.32042206, -71.09360887)"
1,I182091456,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,A7,16,NaN,2018-11-11 20:42:00,2018,11,Sunday,20,Part Three,CONDOR ST,42.382580,-71.031842,"(42.38258002, -71.03184167)"
3,I182091451,3115,Investigate Person,INVESTIGATE PERSON,B2,585,NaN,2018-11-11 20:17:00,2018,11,Sunday,20,Part Three,IROQUOIS ST,42.330147,-71.104445,"(42.33014678, -71.10444485)"
4,I182091450,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,E18,513,NaN,2018-11-11 19:00:00,2018,11,Sunday,19,Part Three,METROPOLITAN AVE,42.252866,-71.109926,"(42.25286575, -71.10992640)"
5,I182091447,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,351,NaN,2018-11-11 20:17:00,2018,11,Sunday,20,Part Three,ADAMS ST,42.299637,-71.058512,"(42.29963709, -71.05851176)"
6,I182091446,3410,Towed,TOWED MOTOR VEHICLE,C11,377,NaN,2018-11-11 19:03:00,2018,11,Sunday,19,Part Three,ROSSELERIN RD,42.292008,-71.053798,"(42.29200752, -71.05379850)"
7,I182091445,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,B2,265,NaN,2018-11-11 20:08:00,2018,11,Sunday,20,Part Three,WAVERLY ST,42.320377,-71.079034,"(42.32037671, -71.07903447)"
8,I182091442,613,Larceny,LARCENY SHOPLIFTING,C11,370,NaN,2018-11-11 19:35:00,2018,11,Sunday,19,Part One,WILLIAM T MORRISSEY BLVD,42.297673,-71.049410,"(42.29767279, -71.04941018)"
9,I182091440,2905,Violations,VAL - OPERATING WITHOUT LICENSE,B2,282,NaN,2018-11-11 19:39:00,2018,11,Sunday,19,Part Two,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
10,I182091437,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",D4,594,NaN,2018-11-11 18:59:00,2018,11,Sunday,18,Part Two,MASSACHUSETTS AVE,42.341870,-71.083722,"(42.34186952, -71.08372190)"
11,I182091436,3301,Verbal Disputes,VERBAL DISPUTE,C11,340,NaN,2018-11-11 19:09:00,2018,11,Sunday,19,Part Three,PERCIVAL ST,42.306457,-71.063718,"(42.30645697, -71.06371823)"
12,I182091434,619,Larceny,LARCENY ALL OTHERS,A1,91,NaN,2018-11-11 19:26:00,2018,11,Sunday,19,Part One,COMMERCIAL ST,42.361601,-71.052961,"(42.36160060, -71.05296127)"
14,I182091432,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A1,101,NaN,2018-11-11 02:30:00,2018,11,Sunday,2,Part Two,MILK ST,42.358230,-71.053622,"(42.35822966, -71.05362239)"
15,I182091431,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E13,307,NaN,2018-11-11 18:56:00,2018,11,Sunday,18,Part Two,WASHINGTON ST,42.316152,-71.097951,"(42.31615184, -71.09795135)"
16,I182091428,2647,Other,THREATS TO DO BODILY HARM,B2,328,NaN,2018-11-11 18:05:00,2018,11,Sunday,18,Part Two,COLEUS PARK,42.310721,-71.075379,"(42.31072113, -71.07537884)"
17,I182091428,619,Larceny,LARCENY ALL OTHERS,B2,328,NaN,2018-11-11 18:05:00,2018,11,Sunday,18,Part One,COLEUS PARK,42.310721,-71.075379,"(42.31072113, -71.07537884)"
18,I182091425,619,Larceny,LARCENY ALL OTHERS,B2,587,NaN,2018-11-11 18:11:00,2018,11,Sunday,18,Part One,TREMONT ST,42.332096,-71.098606,"(42.33209622, -71.09860557)"
19,I182091424,801,Simple Assault,ASSAULT - SIMPLE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
20,I182091424,2101,Operating Under the Influence,OPERATING UNDER THE INFLUENCE ALCOHOL,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
21,I182091424,802,Simple Assault,ASSAULT SIMPLE - BATTERY,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
22,I182091424,2405,Disorderly Conduct,DISORDERLY CONDUCT,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
23,I182091424,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Three,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
24,I182091424,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Three,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
25,I182091424,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part One,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
26,I182091423,3112,Landlord/Tenant Disputes,LANDLORD - TENANT SERVICE,E5,822,NaN,2018-11-11 16:09:00,2018,11,Sunday,16,Part Three,WILLERS ST,42.259471,-71.150779,"(42.25947104, -71.15077874)"
27,I182091421,3115,Investigate Person,INVESTIGATE PERSON,A1,102,NaN,2018-11-11 17:07:00,2018,11,Sunday,17,Part Three,WINTER ST,42.356024,-71.061776,"(42.35602373, -71.06177615)"
29,I182091419,3114,Investigate Property,INVESTIGATE PROPERTY,B2,304,NaN,2018-11-11 17:53:00,2018,11,Sunday,17,Part Three,ACADEMY CT,42.320820,-71.097876,"(42.32081965, -71.09787569)"
31,I182091415,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,562,NaN,2018-11-11 16:42:00,2018,11,Sunday,16,Part Three,FIRTH RD,42.287171,-71.123345,"(42.28717104, -71.12334513)"
32,I182091412,2660,Other,OTHER OFFENSE,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
33,I182091412,1810,Drug Violation,DRUGS - SALE / MANUFACTURING,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336886,I152051278,616,Larceny,LARCENY THEFT OF BICYCLE,C11,351,NaN,2015-06-21 02:36:00,2015,6,Sunday,2,Part One,CLAYTON ST,42.301811,-71.056228,"(42.30181052, -71.05622804)"
336887,I152051274,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,D14,796,NaN,2015-06-21 01:08:00,2015,6,Sunday,1,Part One,CHESTER ST,42.351594,-71.128657,"(42.35159398, -71.12865659)"
336888,I152051273,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,D14,796,NaN,2015-06-21 01:36:00,2015,6,Sunday,1,Part One,REEDSDALE ST,42.351749,-71.129537,"(42.35174866, -71.12953705)"
336889,I152051272,3301,Verbal Disputes,VERBAL DISPUTE,C11,351,NaN,2015-06-21 01:36:00,2015,6,Sunday,1,Part Three,LINCOLN ST,42.299791,-71.059544,"(42.29979065, -71.05954439)"
336890,I152051271,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,C11,403,NaN,2015-06-21 00:19:00,2015,6,Sunday,0,Part Three,WASHINGTON ST,42.281647,-71.071118,"(42.28164735, -71.07111848)"
336892,I152051268,3304,Assembly or Gathering Violations,NOISY PARTY/RADIO-NO ARREST,B2,603,NaN,2015-06-21 00:50:00,2015,6,Sunday,0,Part Three,TREMONT ST,42.333559,-71.103000,"(42.33355871, -71.10299967)"
336893,I152051268,2204,Liquor Violation,LIQUOR LAW VIOLATION,B2,603,NaN,2015-06-21 00:50:00,2015,6,Sunday,0,Part Two,TREMONT ST,42.333559,-71.103000,"(42.33355871, -71.10299967)"
336894,I152051266,802,Simple Assault,ASSAULT SIMPLE - BATTERY,D4,128,NaN,2015-06-21 01:21:00,2015,6,Sunday,1,Part Two,COLUMBUS AVE,42.348343,-71.072225,"(42.34834270, -71.07222530)"
336895,I152051264,2636,Prisoner Related Incidents,PRISONER ESCAPE / ESCAPE & RECAPTURE,B3,463,NaN,2015-06-21 01:03:00,2015,6,Sunday,1,Part Two,BLUE HILL AVE,42.294900,-71.088059,"(42.29489981, -71.08805852)"
336896,I152051264,2905,Violations,VAL - OPERATING WITHOUT LICENSE,B3,463,NaN,2015-06-21 01:03:00,2015,6,Sunday,1,Part Two,BLUE HILL AVE,42.294900,-71.088059,"(42.29489981, -71.08805852)"
336897,I152051263,423,Aggravated Assault,ASSAULT - AGGRAVATED,C11,344,NaN,2015-06-21 00:01:00,2015,6,Sunday,0,Part One,WESTVILLE ST,42.300445,-71.069586,"(42.30044505, -71.06958552)"
336900,I152051258,3111,License Violation,LICENSE PREMISE VIOLATION,B3,465,NaN,2015-06-21 00:23:00,2015,6,Sunday,0,Part Three,BLUE HILL AVE,42.286360,-71.090883,"(42.28635986, -71.09088284)"
338349,I152039327-00,633,Larceny,LARCENY SHOPLIFTING UNDER $50,A1,119,NaN,2016-06-26 12:50:00,2016,6,Sunday,12,Part One,PARK ST,42.356502,-71.062000,"(42.35650174, -71.06199960)"
338350,I152039327-00,633,Larceny,LARCENY SHOPLIFTING UNDER $50,A1,119,NaN,2016-06-26 12:50:00,2016,6,Sunday,12,Part One,PARK ST,42.356502,-71.062000,"(42.35650174, -71.06199960)"
338351,I152039327-00,3125,Warrant Arrests,WARRANT ARREST,A1,119,NaN,2016-06-26 12:50:00,2016,6,Sunday,12,Part Three,PARK ST,42.356502,-71.062000,"(42.35650174, -71.06199960)"
338352,I152039327-00,361,Robbery,ROBBERY - OTHER,A1,119,NaN,2016-06-26 12:50:00,2016,6,Sunday,12,Part One,PARK ST,42.356502,-71.062000,"(42.35650174, -71.06199960)"
338411,I152010121-00,770,Auto Theft,AUTO THEFT - RECOVERED IN BY POLICE,B2,273,NaN,2016-03-20 02:59:00,2016,3,Sunday,2,Part One,MASSACHUSETTS AVE,42.338256,-71.079209,"(42.33825572, -71.07920918)"
338412,I152010121-00,770,Auto Theft,AUTO THEFT - RECOVERED IN BY POLICE,B2,273,NaN,2016-03-20 02:59:00,2016,3,Sunday,2,Part One,MASSACHUSETTS AVE,42.338256,-71.079209,"(42.33825572, -71.07920918)"
338413,I152010121-00,3125,Warrant Arrests,WARRANT ARREST,B2,273,NaN,2016-03-20 02:59:00,2016,3,Sunday,2,Part Three,MASSACHUSETTS AVE,42.338256,-71.079209,"(42.33825572, -71.07920918)"
338505,I142036405-00,2623,Other,OBSCENE MATERIALS - PORNOGRAPHY,D4,131,NaN,2016-01-31 09:46:00,2016,1,Sunday,9,Part Two,ARLINGTON ST,42.355164,-71.072319,"(42.35516350, -71.07231871)"
338628,I140188130-00,3125,Warrant Arrests,WARRANT ARREST,D14,796,NaN,2017-04-30 19:30:00,2017,4,Sunday,19,Part Three,BRIGHTON AVE,42.352720,-71.130205,"(42.35272046, -71.13020510)"
338640,I140110321-00,3125,Warrant Arrests,WARRANT ARREST,B2,258,NaN,2016-01-24 01:45:00,2016,1,Sunday,1,Part Three,DUDLEY ST,42.318410,-71.068292,"(42.31840989, -71.06829176)"
338641,I140110321-00,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,B2,258,NaN,2016-01-24 01:45:00,2016,1,Sunday,1,Part One,DUDLEY ST,42.318410,-71.068292,"(42.31840989, -71.06829176)"
338642,I140110321-00,402,Aggravated Assault,ASSAULT & BATTERY D/W - KNIFE,B2,258,NaN,2016-01-24 01:45:00,2016,1,Sunday,1,Part One,DUDLEY ST,42.318410,-71.068292,"(42.31840989, -71.06829176)"
338643,I140110321-00,403,Aggravated Assault,ASSAULT & BATTERY D/W - OTHER,B2,258,NaN,2016-01-24 01:45:00,2016,1,Sunday,1,Part One,DUDLEY ST,42.318410,-71.068292,"(42.31840989, -71.06829176)"
338644,I140110321-00,402,Aggravated Assault,ASSAULT & BATTERY D/W - KNIFE,B2,258,NaN,2016-01-24 01:45:00,2016,1,Sunday,1,Part One,DUDLEY ST,42.318410,-71.068292,"(42.31840989, -71.06829176)"
338825,I100636670-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338826,I100636670-00,629,Larceny,LARCENY OTHER $50 TO $199,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part One,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338827,I100636670-00,629,Larceny,LARCENY OTHER $50 TO $199,D4,285,NaN,2016-06-05 17:23:00,2016,6,Sunday,17,Part One,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
338848,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"

In [4]:
Example2=df1.loc[(df1['UCR_PART']=='Part Two')]
Example2

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2,I182091454,2647,Other,THREATS TO DO BODILY HARM,C11,375,NaN,2018-11-07 20:45:00,2018,11,Wednesday,20,Part Two,NEPONSET AVE,42.286545,-71.044332,"(42.28654487, -71.04433230)"
9,I182091440,2905,Violations,VAL - OPERATING WITHOUT LICENSE,B2,282,NaN,2018-11-11 19:39:00,2018,11,Sunday,19,Part Two,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
10,I182091437,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",D4,594,NaN,2018-11-11 18:59:00,2018,11,Sunday,18,Part Two,MASSACHUSETTS AVE,42.341870,-71.083722,"(42.34186952, -71.08372190)"
14,I182091432,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A1,101,NaN,2018-11-11 02:30:00,2018,11,Sunday,2,Part Two,MILK ST,42.358230,-71.053622,"(42.35822966, -71.05362239)"
15,I182091431,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E13,307,NaN,2018-11-11 18:56:00,2018,11,Sunday,18,Part Two,WASHINGTON ST,42.316152,-71.097951,"(42.31615184, -71.09795135)"
16,I182091428,2647,Other,THREATS TO DO BODILY HARM,B2,328,NaN,2018-11-11 18:05:00,2018,11,Sunday,18,Part Two,COLEUS PARK,42.310721,-71.075379,"(42.31072113, -71.07537884)"
19,I182091424,801,Simple Assault,ASSAULT - SIMPLE,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
20,I182091424,2101,Operating Under the Influence,OPERATING UNDER THE INFLUENCE ALCOHOL,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
21,I182091424,802,Simple Assault,ASSAULT SIMPLE - BATTERY,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
22,I182091424,2405,Disorderly Conduct,DISORDERLY CONDUCT,D4,130,NaN,2018-11-11 17:03:00,2018,11,Sunday,17,Part Two,DARTMOUTH ST,42.348548,-71.076539,"(42.34854775, -71.07653919)"
32,I182091412,2660,Other,OTHER OFFENSE,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
33,I182091412,1810,Drug Violation,DRUGS - SALE / MANUFACTURING,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
34,I182091412,802,Simple Assault,ASSAULT SIMPLE - BATTERY,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
35,I182091412,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
36,I182091412,1848,Drug Violation,DRUGS - POSS CLASS D - INTENT TO MFR DIST DISP,NaN,,NaN,2018-11-11 17:20:00,2018,11,Sunday,17,Part Two,NaN,42.352389,-71.062603,"(42.35238871, -71.06260312)"
40,I182091403,2403,Disorderly Conduct,DISTURBING THE PEACE,D4,273,NaN,2018-11-11 16:27:00,2018,11,Sunday,16,Part Two,SHAWMUT AVE,42.336023,-71.079967,"(42.33602271, -71.07996710)"
43,I182091400,2662,Ballistics,BALLISTICS EVIDENCE/FOUND,B2,911,NaN,2018-11-11 16:46:00,2018,11,Sunday,16,Part Two,ALBERT ST,42.334738,-71.091971,"(42.33473779, -71.09197084)"
55,I182091386,2628,Phone Call Complaints,OBSCENE PHONE CALLS,D4,134,NaN,2018-11-11 14:30:00,2018,11,Sunday,14,Part Two,NEWBURY ST,42.351762,-71.074522,"(42.35176179, -71.07452168)"
61,I182091380,2647,Other,THREATS TO DO BODILY HARM,C11,396,NaN,2018-11-11 13:00:00,2018,11,Sunday,13,Part Two,SAMOSET ST,42.291478,-71.064869,"(42.29147791, -71.06486888)"
67,I182091375,2905,Violations,VAL - OPERATING WITHOUT LICENSE,D14,769,NaN,2018-11-10 20:55:00,2018,11,Saturday,20,Part Two,NILES ST,42.355064,-71.155258,"(42.35506362, -71.15525759)"
69,I182091373,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,NaN,,NaN,2018-11-11 13:58:00,2018,11,Sunday,13,Part Two,NaN,42.282335,-71.099609,"(42.28233549, -71.09960853)"
71,I182091370,1402,Vandalism,VANDALISM,E13,640,NaN,2018-11-11 10:19:00,2018,11,Sunday,10,Part Two,HUBBARD ST,42.316411,-71.106232,"(42.31641096, -71.10623241)"
82,I182091353,1402,Vandalism,VANDALISM,E13,639,NaN,2018-11-11 10:36:00,2018,11,Sunday,10,Part Two,SPRING PARK AVE,42.316464,-71.108102,"(42.31646358, -71.10810177)"
93,I182091337,1402,Vandalism,VANDALISM,A1,85,NaN,2018-11-10 12:00:00,2018,11,Saturday,12,Part Two,N MARGIN ST,42.364905,-71.056719,"(42.36490476, -71.05671873)"
94,I182091336,2629,Harassment,HARASSMENT,D4,273,NaN,2018-11-11 11:35:00,2018,11,Sunday,11,Part Two,CAMDEN ST,42.337441,-71.080577,"(42.33744115, -71.08057671)"
100,I182091329,2647,Other,THREATS TO DO BODILY HARM,B3,450,NaN,2018-11-11 11:03:00,2018,11,Sunday,11,Part Two,ASPINWALL RD,42.291511,-71.073743,"(42.29151090, -71.07374301)"
105,I182091319,1001,Counterfeiting,FORGERY / COUNTERFEITING,C6,177,NaN,2018-11-11 11:03:00,2018,11,Sunday,11,Part Two,MASSACHUSETTS AVE,42.331521,-71.070853,"(42.33152148, -71.07085307)"
111,I182091310,2629,Harassment,HARASSMENT,D14,785,NaN,2018-11-07 19:00:00,2018,11,Wednesday,19,Part Two,RANSOM RD,42.343052,-71.145249,"(42.34305189, -71.14524866)"
118,I182091302,1402,Vandalism,VANDALISM,E18,525,NaN,2018-11-11 09:22:00,2018,11,Sunday,9,Part Two,NEPONSET VALLEY PKWY,42.236497,-71.129351,"(42.23649723, -71.12935123)"
119,I182091301,1402,Vandalism,VANDALISM,D4,134,NaN,2018-11-10 19:00:00,2018,11,Saturday,19,Part Two,BERKELEY ST,42.351852,-71.073346,"(42.35185194, -71.07334626)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338718,I130325877-00,2632,Evading Fare,EVADING FARE,A1,111,NaN,2015-10-09 10:42:00,2015,10,Friday,10,Part Two,TREMONT ST,42.355407,-71.063124,"(42.35540738, -71.06312433)"
338719,I130325877-00,2632,Evading Fare,EVADING FARE,A1,111,NaN,2015-10-09 10:42:00,2015,10,Friday,10,Part Two,TREMONT ST,42.355407,-71.063124,"(42.35540738, -71.06312433)"
338750,I130084703-00,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A1,111,NaN,2015-09-28 00:00:00,2015,9,Monday,0,Part Two,WINTER ST,42.356024,-71.061776,"(42.35602373, -71.06177615)"
338764,I130031413-00,1866,Drug Violation,DRUGS - POSS CLASS E INTENT TO MF DIST DISP,D4,143,NaN,2015-12-22 21:30:00,2015,12,Tuesday,21,Part Two,BOYLSTON ST,42.349325,-71.080148,"(42.34932471, -71.08014801)"
338765,I130031413-00,1874,Drug Violation,DRUGS - OTHER,D4,143,NaN,2015-12-22 21:30:00,2015,12,Tuesday,21,Part Two,BOYLSTON ST,42.349325,-71.080148,"(42.34932471, -71.08014801)"
338766,I130031413-00,1846,Drug Violation,DRUGS - POSS CLASS E,D4,143,NaN,2015-12-22 21:30:00,2015,12,Tuesday,21,Part Two,BOYLSTON ST,42.349325,-71.080148,"(42.34932471, -71.08014801)"
338767,I130031413-00,1874,Drug Violation,DRUGS - OTHER,D4,143,NaN,2015-12-22 21:30:00,2015,12,Tuesday,21,Part Two,BOYLSTON ST,42.349325,-71.080148,"(42.34932471, -71.08014801)"
338769,I130007264-01,1001,Counterfeiting,FORGERY / COUNTERFEITING,B3,,NaN,2015-09-16 00:58:00,2015,9,Wednesday,0,Part Two,COMMONWEALTH AVE,NaN,NaN,"(0.00000000, 0.00000000)"
338770,I120720047-00,1503,Firearm Violations,"WEAPON - OTHER - CARRYING / POSSESSING, ETC",E13,565,NaN,2015-07-17 09:23:00,2015,7,Friday,9,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
338789,I120283195-00,2647,Other,THREATS TO DO BODILY HARM,B2,911,NaN,2016-04-27 00:00:00,2016,4,Wednesday,0,Part Two,ANNUNCIATION RD,42.335062,-71.093168,"(42.33506218, -71.09316781)"
338796,I120201612-00,1841,Drug Violation,DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP,B2,292,NaN,2017-01-20 02:00:00,2017,1,Friday,2,Part Two,JOHN ELIOT SQ,42.330013,-71.091179,"(42.33001318, -71.09117863)"
338797,I120201612-00,1841,Drug Violation,DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP,B2,292,NaN,2017-01-20 02:00:00,2017,1,Friday,2,Part Two,JOHN ELIOT SQ,42.330013,-71.091179,"(42.33001318, -71.09117863)"
338798,I120201612-00,1841,Drug Violation,DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP,B2,292,NaN,2017-01-20 02:00:00,2017,1,Friday,2,Part Two,JOHN ELIOT SQ,42.330013,-71.091179,"(42.33001318, -71.09117863)"
338800,I120189428-00,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E13,303,NaN,2015-12-09 18:35:00,2015,12,Wednesday,18,Part Two,AMORY ST,42.318245,-71.101268,"(42.31824501, -71.10126771)"
338801,I120189428-00,802,Simple Assault,ASSAULT & BATTERY,E13,303,NaN,2015-12-09 18:35:00,2015,12,Wednesday,18,Part Two,AMORY ST,42.318245,-71.101268,"(42.31824501, -71.10126771)"
338802,I120189428-00,802,Simple Assault,ASSAULT & BATTERY,E13,303,NaN,2015-12-09 18:35:00,2015,12,Wednesday,18,Part Two,AMORY ST,42.318245,-71.101268,"(42.31824501, -71.10126771)"
338804,I120069826-00,2610,Other,TRESPASSING,D4,597,NaN,2015-10-05 18:01:00,2015,10,Monday,18,Part Two,CAMDEN ST,42.339332,-71.083350,"(42.33933200, -71.08335000)"
338805,I120069826-00,2610,Other,TRESPASSING,D4,597,NaN,2015-10-05 18:01:00,2015,10,Monday,18,Part Two,CAMDEN ST,42.339332,-71.083350,"(42.33933200, -71.08335000)"
338806,I110694557-00,1605,Prostitution,PROSTITUTE - COMMON NIGHTWALKER,B3,436,NaN,2016-01-22 09:45:00,2016,1,Friday,9,Part Two,WITHINGTON ST,42.288767,-71.072897,"(42.28876736, -71.07289694)"
338807,I110694557-00,1605,Prostitution,PROSTITUTE - COMMON NIGHTWALKER,B3,436,NaN,2016-01-22 09:45:00,2016,1,Friday,9,Part Two,WITHINGTON ST,42.288767,-71.072897,"(42.28876736, -71.07289694)"
338823,I110177502-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,NaN,2015-10-02 21:00:00,2015,10,Friday,21,Part Two,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
338824,I110177502-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,NaN,2015-10-02 21:00:00,2015,10,Friday,21,Part Two,HOMESTEAD ST,42.311277,-71.089093,"(42.31127726, -71.08909334)"
338834,I100033064-00,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338835,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338836,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
338841,I080542626-00,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338842,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338843,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
338845,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,NaN,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
338846,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,NaN,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"

This crime_incident_reports has 338853 rows and 17 columns. Based on the data showed by this file, we are able to see the detailed time, the area, the code and other information of criminal events.
What's more, if you want to learn the details of some criminal events, such as type, area, street, you can use some formulas to extract specific rows or columns, such as df.loc[], df.ix[] Furthermore, if you want to research the rate of occuring the shooting events, you can select and type those statistics which basic condition is the shooting type. Then, you are able to analyze which places have more possibility to have such events and predict the possibility of occuring next similiar event, such as the table of Example1 which enables you to analyze some criminal events of Sunday. Moreover, as you can see, the final column is about the location. With this kind of information, it enables researchers to go to the real place to analyze the events, which can help researchers to find out the real reasons,such as the table of Example2.
The questions can be answered include: 
1) The comparison of criminal possibility between Sunday and Saturday;
2) Which street has the most possibility of occurring criminal events?
3) Which area has the most possibility of occurrin criminal events?
4) Which year has the most possibility of occurring criminal events?
5) In the same year, which month has the most criminal events?
6) Which offensive code is used the most?
7) Describe the relationship between Area and Hour?
8) How long is the longest time in the same area?

In [5]:
df2=pd.read_csv('employee-earnings-report-2017.csv')
df2

,NAME,DEPARTMENT NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Miller,Francis T",Boston Police Department,Police Lieutenant (Det),"$129,530.83",NaN,"$13,694.50","$8,150.41",NaN,NaN,"$24,286.86","$175,662.60",2043
1,"Sullivan,Patrice Murphy",Boston Police Department,Office Manager,"$56,921.80",NaN,"$3,594.65","$1,548.16",NaN,NaN,NaN,"$62,064.61",2132
2,"O'Hara,Michael C",Boston Police Department,Police Lieutenant,"$124,056.64",NaN,"$6,432.23","$29,043.67",NaN,"$22,385.00","$23,260.69","$205,178.23",2021
3,"Whalen,Richard L",Boston Police Department,Police Detective,"$94,956.25","$4,985.32","$13,591.93","$85,419.22",$58.03,"$16,330.00","$19,971.01","$235,311.76",2062
4,"Kelly,Ann Marie",Boston Police Department,Tape Librarian I (BPD),"$69,995.34",NaN,$300.00,"$7,961.08",NaN,NaN,NaN,"$78,256.42",2190
5,"Carroll,William F",Boston Police Department,Police Offc/Hosp Liaison 4$10,"$12,756.79","$2,390.14","$41,612.10",$912.04,NaN,NaN,"$1,563.30","$59,234.37",2131
6,"Connolly,John J",Boston Police Department,Police Officer,"$93,180.42","$2,027.71","$13,338.20","$19,881.93",NaN,"$28,934.00","$14,733.53","$172,095.79",2339
7,"Ivens,Paul M",Boston Police Department,Police Captain/DDC,NaN,NaN,"$60,777.01",NaN,"$2,658.71",NaN,$498.51,"$63,934.23",2339
8,"Kelly,John R",Boston Police Department,Police Sergeant (Det),"$13,827.39",NaN,"$62,393.08",$867.60,NaN,NaN,"$2,074.11","$79,162.18",2492
9,"Klokman,John A.",Boston Police Department,PoliceSergeant/SupvCourtCases,"$107,599.31",NaN,"$14,482.47","$12,824.85",NaN,"$99,640.00","$16,140.15","$250,686.78",2134
10,"Newton,Robert",Boston Police Department,Police Officer,"$93,180.42","$2,646.49","$6,655.62","$57,979.06",NaN,"$46,920.00","$14,733.53","$222,115.12",2043
11,"Peters,Kenneth A Jr",Boston Police Department,Police Officer,"$48,017.69","$3,031.83","$47,271.41","$42,778.79",NaN,"$13,662.00","$8,813.10","$163,574.82",2148
12,"Rodriguez,Carmen N",Boston Police Department,Police Detective,"$103,987.91","$3,455.19","$9,260.77","$36,551.68",NaN,NaN,NaN,"$153,255.55",2186
13,"Hartgrove,Todd M",Boston Police Department,Police Detective,NaN,$165.49,"$14,175.06",NaN,"$106,986.09",NaN,NaN,"$121,326.64",1905
14,"Younger,Vatchel S",Boston Police Department,Police Officer,NaN,$336.74,"$19,094.21",NaN,"$48,993.09",NaN,NaN,"$68,424.04",2119
15,"Hartgrove,Christopher A",Boston Police Department,Police Detective,($380.71),$174.05,"$16,078.64",NaN,"$106,392.37",NaN,NaN,"$122,264.35",2066
16,"Lee,George Y",Boston Police Department,ChCommEquipOper I (SCTT),"$58,005.80",NaN,NaN,"$2,408.23",NaN,NaN,NaN,"$60,414.03",2131
17,"Turner,Keith A",Boston Police Department,Police Detective,"$97,413.67","$3,151.35","$12,298.38","$16,036.56",NaN,$414.00,"$20,698.91","$150,012.87",2126
18,"Carnell,James W",Boston Police Department,Police Officer,"$93,180.42","$2,259.45","$12,511.24","$14,994.74",NaN,"$80,454.00","$14,733.53","$218,133.38",2169
19,"Crossen,Patrick J",Boston Police Department,Police Captain/DDC,"$146,894.28",NaN,"$22,119.73","$62,127.97",NaN,"$7,020.00","$27,542.71","$265,704.69",2190
20,"Meade,Stephen M",Boston Police Department,Police Lieutenant (Det),"$129,530.83",NaN,"$14,916.72","$29,581.42",NaN,NaN,"$24,286.86","$198,315.83",2043
21,"Chinetti,William J",Boston Police Department,Police Sergeant (Det),"$117,408.98",NaN,"$6,579.19","$48,778.43",NaN,"$4,876.00","$17,416.49","$195,059.09",2339
22,"McGill,Kevin J",Boston Police Department,Police Detective,"$94,956.25","$4,000.20","$3,505.59","$59,602.46",NaN,"$5,336.00","$19,971.01","$187,371.51",2043
23,"Canney,Joseph H",Boston Police Department,Police Lieutenant,"$125,070.42",NaN,"$14,532.29","$22,798.36",NaN,"$9,240.00","$23,131.42","$194,772.49",2155
24,"Fish,Michael A.",Boston Police Department,PoliceSergeant/SupvCourtCases,"$14,119.37",NaN,"$16,379.97",NaN,"$87,637.50",NaN,"$19,079.60","$137,216.44",2045
25,"Terenzi,Phillip",Boston Police Department,Police Captain-DDC/HRCD,"$149,242.34",NaN,"$2,420.73","$31,032.19",NaN,"$57,540.00","$27,983.02","$268,218.28",2339
26,"Spellman,Deborah M",Boston Police Department,Jr Building Custodian,"$44,002.60",$603.80,$500.00,$984.78,NaN,NaN,NaN,"$46,091.18",2132
27,"Flynn,Anna E",Boston Police Department,ChCommEquipOper I (SCTT),"$58,497.74",NaN,NaN,$985.18,NaN,NaN,NaN,"$59,482.92",2066
28,"Buchanan,Basil Mark",Boston Police Department,Police Offc Comm Serv Offc 3$8,"$16,371.52","$2,627.24","$42,768.77",NaN,NaN,"$3,588.00","$2,968.43","$68,323.96",2186
29,"Caulfield,Richard P",Boston Police Department,Police Officer Hdq Dispatch,"$103,890.60","$1,459.90",$800.00,"$8,378.94",NaN,NaN,NaN,"$114,529.44",2135
...,...,...,...,...,...,...,...,...,...,...,...,...
22215,"Barros,Eurides",Fam & Student Engagemt,Analyst (C),"$46,176.96",NaN,$247.62,NaN,NaN,NaN,NaN,"$46,424.58",2186
22216,"Ahmed,Said Hassan",BPS South Boston HS - Excel,Community Field Coordinator,"$5,561.19",NaN,NaN,NaN,"$31,658.32",NaN,NaN,"$37,219.51",2119
22217,"Assiraj,Farah",Newcomers Academy,Teacher,"$63,672.72",NaN,"$6,775.00",NaN,NaN,NaN,NaN,"$70,447.72",2186
22218,"OGarro,De'Lea",BPS South Boston HS - Excel,Employment Agreement,"$2,775.00",NaN,NaN,NaN,NaN,NaN,NaN,"$2,775.00",2125
22219,"Inciarte,Himilcon",Tobin K-8,Teacher,"$56,075.86",NaN,NaN,NaN,NaN,NaN,NaN,"$56,075.86",1721
22220,"Rivera,Maria Victoria",Green Academy,Coord-Manager (C),"$64,206.48",NaN,NaN,NaN,NaN,NaN,NaN,"$64,206.48",1902
22221,"Gary,Grant",BPS Chittick Elementary,Teacher,"$53,491.18",NaN,NaN,NaN,NaN,NaN,NaN,"$53,491.18",1810
22222,"Harewood,Alexis Octavia","Kennedy, EM Health Academy",Teacher,"$50,283.96",NaN,"$3,680.00",NaN,NaN,NaN,NaN,"$53,963.96",2131
22223,"Owens,Joy Wong",Henderson Elementary,Teacher,"$65,430.96",NaN,"$2,233.68",NaN,NaN,NaN,NaN,"$67,664.64",63139
22224,"Gomez,Curtis Joseph",BPS Special Education,One to One Para,"$4,980.07",NaN,NaN,NaN,NaN,NaN,NaN,"$4,980.07",2122
22225,"Lake,Kimberly Marie",UP Academy Dorchester,Director (Basas 10B),"$62,218.80",NaN,NaN,NaN,NaN,NaN,NaN,"$62,218.80",2129
22226,"Mansfield,Laura",BPS Burke High,Teacher,"$51,861.05",NaN,NaN,NaN,NaN,NaN,NaN,"$51,861.05",19136
22227,"Rowlinson,Veronica Ramos",BPS East Boston High,Teacher,"$36,438.32",NaN,"$1,250.00",NaN,NaN,NaN,NaN,"$37,688.32",2180
22228,"Demaidi,Sara",Young Achievers K-8,Teacher,"$47,672.83",NaN,NaN,NaN,NaN,NaN,NaN,"$47,672.83",2148
22229,"Gonzalez,Julia",BPS Office Of Budget Mgmt,Attendant,"$4,834.98",NaN,NaN,NaN,NaN,NaN,NaN,"$4,834.98",2128
22230,"Rok,Kaitlin",BPS Holmes Elementary,Teacher,"$54,613.18",NaN,"$5,676.30",NaN,NaN,NaN,NaN,"$60,289.48",2446
22231,"Gilson,Brittany Ann",BPS Tynan Elementary,Teacher,"$49,542.10",NaN,"$1,250.00",NaN,NaN,NaN,NaN,"$50,792.10",2067
22232,"Vanegas,Monica",Tobin K-8,Teacher,"$38,912.18",NaN,"$2,593.00",NaN,NaN,NaN,NaN,"$41,505.18",2215
22233,"Poindexter,Nicolette",BPS Substitute Teachers/Nurs,Substitute Teacher,"$16,245.78",NaN,NaN,NaN,NaN,NaN,NaN,"$16,245.78",2115
22234,"Rodrigues,Anjali",BPS Boston Arts Academy,Teacher,"$47,605.95",NaN,NaN,NaN,NaN,NaN,NaN,"$47,605.95",2135
22235,"Sterrer,Marina R",BPS Higginson Elementary,Teacher,"$34,667.97",NaN,NaN,NaN,NaN,NaN,NaN,"$34,667.97",1835
22236,"West,Kelcy Lyn",Lyon K-8,Teacher,"$36,781.54",NaN,"$1,750.00",NaN,NaN,NaN,NaN,"$38,531.54",1540
22237,"Berman,Ann",BPS Chittick Elementary,Teacher,"$35,809.31",NaN,"$1,250.00",NaN,NaN,NaN,NaN,"$37,059.31",2446
22238,"Simoes,Julie A",BPS Orchard Gardens K-8 Pilot,Teacher,"$48,752.09",NaN,NaN,NaN,NaN,NaN,NaN,"$48,752.09",1880
22239,"Walkenstein,Emily Rebeca",Mildred Avenue K-8,Teacher,"$36,781.54",NaN,$461.40,NaN,NaN,NaN,NaN,"$37,242.94",2138
22240,"Flaherty,Thomas C",Boston Police Department,Police Officer,"$1,704.01",$99.24,NaN,NaN,"$5,280.78",NaN,NaN,"$7,084.03",2122
22241,"Simon,Victor",Parks Department,Laborer Seasonal (Parks),"$2,777.44",$55.55,NaN,NaN,NaN,NaN,NaN,"$2,832.99",2132
22242,"Lara,Diana D",Edison K-8,Part-Time Cafeteria Attendant,"$6,610.00",NaN,$122.00,NaN,NaN,NaN,NaN,"$6,732.00",2119
22243,"Gross,William Brenden",Boston Police Department,Police Officer,"$1,170.50",NaN,NaN,NaN,NaN,NaN,NaN,"$1,170.50",2125
22244,"Saint Hubert,Simon",BPS Transportation,Standby Cab Monitor HE,"$6,212.63",NaN,NaN,NaN,NaN,NaN,NaN,"$6,212.63",2136

According to the table, we area able to know the information of name, position, department name, the regular salary and other data, which enables us to research the relationship of position, district and salary.
As you can see, this table provides us with detailed statistics. With those data, you can know the salary of some position, the working time and their departments. By analyzing these information, it enables readers to realize the level of each role and help them build the goals. 
The questions can be answered include:
1) Which job title can get the highest salary?
2) Which department has the highest salary?
3) Based on the same job title, which department gives the highest salary?
4) Which job title has the highest overtime salary?
5) Who will get the highest salary? Which department he works for?
6) Which department has the most employees?
7) Which postal is the most?

In [3]:
df3=pd.read_csv('cwurData.csv')
df3

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
5,6,Princeton University,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
6,7,University of Oxford,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
7,8,Yale University,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
8,9,Columbia University,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
9,10,"University of California, Berkeley",USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
10,11,University of Chicago,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
11,12,Cornell University,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
12,13,University of Pennsylvania,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
13,14,University of Tokyo,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
14,15,Johns Hopkins University,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
15,16,Swiss Federal Institute of Technology in Zurich,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
16,17,Kyoto University,Japan,2,42,38,19,25,36,43,NaN,23,65.76,2012
17,18,Weizmann Institute of Science,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
18,19,"University of California, Los Angeles",USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
19,20,"University of California, San Diego",USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
20,21,Rockefeller University,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
21,22,Hebrew University of Jerusalem,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
22,23,New York University,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
23,24,"University of California, San Francisco",USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
24,25,University of Wisconsin–Madison,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
25,26,University of Illinois at Urbana–Champaign,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
26,27,Duke University,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
27,28,Imperial College London,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012
28,29,University of Texas Southwestern Medical Center,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
29,30,University of Texas at Austin,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170,971,Fu Jen Catholic University,Taiwan,19,367,446,218,984,887,812,958.0,824,44.06,2015
2171,972,Hunan Normal University,China,74,367,567,218,923,917,812,932.0,871,44.06,2015
2172,973,Ulsan National Institute of Science and Techno...,South Korea,36,367,567,218,880,912,645,984.0,349,44.06,2015
2173,974,Federal University of Santa Maria,Brazil,16,367,396,218,954,974,812,975.0,871,44.05,2015
2174,975,Shenzhen University,China,75,367,410,218,976,778,645,999.0,318,44.05,2015
2175,976,Tianjin Medical University,China,76,367,567,218,885,857,812,946.0,839,44.05,2015
2176,977,Beijing University of Technology,China,77,367,567,218,780,950,812,969.0,512,44.05,2015
2177,978,University of Reims Champagne-Ardenne,France,48,367,567,218,967,884,645,958.0,544,44.05,2015
2178,979,Yuan Ze University,Taiwan,20,367,567,218,923,984,812,946.0,871,44.05,2015
2179,980,"University of Chemistry and Technology, Prague",Czech Republic,5,367,567,218,991,868,812,946.0,778,44.05,2015
2180,981,University of Limerick,Ireland,8,367,529,218,892,863,812,969.0,516,44.05,2015
2181,982,China Medical University (PRC),China,78,367,567,218,804,749,645,958.0,871,44.04,2015
2182,983,Feng Chia University,Taiwan,21,367,434,218,902,991,812,975.0,871,44.04,2015
2183,984,Zhejiang University of Technology,China,79,367,567,218,858,991,812,958.0,672,44.04,2015
2184,985,Novosibirsk State University,Russia,5,167,567,218,819,858,645,991.0,871,44.04,2015
2185,986,University of Bucharest,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015
2186,987,Babeș-Bolyai University,Romania,2,367,567,218,874,855,812,958.0,871,44.04,2015
2187,988,Mansoura University,Egypt,3,367,567,218,987,969,645,958.0,871,44.04,2015
2188,989,University of Pau and Pays de l'Adour,France,49,367,567,218,980,991,812,958.0,809,44.04,2015
2189,990,Henan Normal University,China,80,367,567,218,959,991,812,958.0,871,44.04,2015
2190,991,Xidian University,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
2191,992,Federal University of Bahia,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
2192,993,Southwest Jiaotong University,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
2193,994,Ryerson University,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
2194,995,King Abdulaziz University,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

This csv file provides a table with universities, its countries, its rank, the quality of education, and other things.
According to those statistics, it not only helps education institutions access and arrange the rank of top 100 universities but also gives the readers to learn and provides the instructions of selecting universities. What's more, this kind of statistics also provides some universities with some suggestions that why some universities of top 30 have such higher quality education. According to the analysis, those universities of lower levels can realize how to increase their competitiveness and make progress.
The questions can be answered include:
1) Which university has the highest quality of education?
2) Which university has the most alumnus?
3) Which university has the highest quality of faculty?
4) Which university has the biggest influence?
5) Which university has the most patents?
6) Which university has the highest score?
7) How many universities are built in 2012?