# Assignment
* Download the "Assignment.ipynb" notebook 
* Fill in the code in the cells marked with #GRADED#
* Code cells outside of #GRADED# will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
### GRADED
# (a) Determine the shape, number of dimensions and type of 
# elements in the numpy array arr
# (b) Determine the sum of elements in arr
# (c) Determine the mean of elements in arr
# (d) Create an array of the same shape as arr but filled with zeros
# (e) Create an array of the same shape as arr but filled with ones
# (f) Create an array of the same shape as arr but where all elements are squared values
# (g) Create an array result of shape 3*3 resulting from multiplication of arr with transpose(arr). Hint: use np.dot
arr = np.arange(15).reshape(3, 5)
print('(a)shape:',arr.shape,'Dimension:', arr.ndim,'Type:',type(arr))
print('(b)sum:',arr.sum())
print('(c)mean:',arr.mean())
print('(d)')
print(np.zeros_like(arr))
print('(e)')
print(np.ones_like(arr))
print('(f)')
print(arr*arr)
print('(g)')
print(np.dot(arr,arr.T))

(a)shape: (3, 5) Dimension: 2 Type: <class 'numpy.ndarray'>
(b)sum: 105
(c)mean: 7.0
(d)
[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
(e)
[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]
(f)
[[  0   1   4   9  16]
 [ 25  36  49  64  81]
 [100 121 144 169 196]]
(g)
[[ 30  80 130]
 [ 80 255 430]
 [130 430 730]]

In [3]:
### GRADED
# The following piece of code creates a DataFrame 
# (a) Determine the shape of the dataframe
# (b) Print out all the columns of the dataframe
# (c) Print the 3rd element of the dataframe
# (d) Find the average of 'petal_width' where species is 'virginica'
# (e) Find the maximum of 'sepal_width' where species is 'setosa'
# (f): What is the average value of sepal_length
# (g): What is the maximum value of sepal_width
# (h): What is the minimum value of petal_width
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df.head(10) #prints the first 10 rows
print('(a)',df.shape)
print('(b)')
print(df.columns)
print('(c)')
print(df.loc[2])
d=df['species']== 'virginica'
d=df.loc[d]
print('(d)', np.mean(d.petal_width))
e=df['species']== 'virginica'
e=df.loc[e]
print('(e)', e.sepal_width.max())
print('(f)',round(df.sepal_length.mean(),3))
print('(g)',df.sepal_width.max())
print('(h)',df.sepal_width.min())

(a) (150, 5)
(b)
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
(c)
sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
(d) 2.0260000000000002
(e) 3.8
(f) 5.843
(g) 4.4
(h) 2.0

### GRADED: Getting started on the capstone project
We will start working on our capstone project this week. For this week, the task consists of
Finding a dataset of interest.
    -You can use the links in the supplementary materials to help you find the dataset
    -This dataset should be publicly accessible and available for download
    -Should be of interest to the class
    -The goal is to be askign and answering important questions about the data
You can start with the following datasets or find your own
### Open datasets
          
* Resources for open data
  * https://data.boston.gov/
  * https://www.data.gov/
  * https://www.bls.gov/data/
  * http://www.fao.org/statistics/databases/en/
  * http://ec.europa.eu/eurostat/web/main
  * https://github.com/awesomedata/awesome-public-datasets
  * https://www.kdnuggets.com/2016/05/top-10-datasets-github.html
  * https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public
    
### Questions

* Q: Shortlist three datasets of interest
* Q: For each dataset suggest describe the data (a few sentences) and questions that can be answered using that data (a few sentences)

* My first dataset that I am interested in is FBI's hate crime rate in 2014 from Data.GOV. This dataset mainly describes the number of 6 kinds of hate crime's happening: racism, religion, ethnicity, gender, disability and sexual orientation. It consists of 1826 rows of 15 variables; where each observation (row) corresponds to aparticular house in King County. In the U.S, there are two big different political slogans; "For the People" and "Better Off Now". Then, From these two different slogans, I have a question that the red states where support Republicans might have more the number of hate crimes than the blue states. Through the analysis, Massachusetts state has the most hate crimes, but California that supports democracy has the second most. In the result, the rate of hate crimes are more related with the population, not the ideology of policy.

In [4]:
hc = pd.read_csv("FBI-Hate-Crime.csv")
hc.columns
hc.shape

(1826, 15)

In [5]:
hc2 = hc[['State', 'Race', 'Religion', 'Ethnicity', 'Gender','Disability','Sexual orientation']]
hc2.Race.describe()
hc2.State.describe()
high_racism = hc2[hc2.Race >= 20]
high_racism.head (10)

,State,Race,Religion,Ethnicity,Gender,Disability,Sexual orientation
14,Arizona,40,12,14,0,1,14
135,California,41,29,9,0,0,33
248,California,20,3,10,0,0,17
450,Illinois,22,2,3,0,0,18
486,Indiana,29,0,8,0,0,6
665,Massachusetts,73,21,15,0,0,53
892,Minnesota,20,4,3,0,1,11
904,Minnesota,24,4,0,0,0,2
921,Missouri,30,7,5,4,1,14
960,Nevada,27,9,6,0,0,23

* My second dataset is about the House Sales in King County, USA dataset(www.kaggle.com). This dataset contains house sale prices for King County, it features homes sold between May 2014 and May 2015. It consists of 21613 rows of 21 variables; where each observation (row) corresponds to aparticular house in King County.As a lot of people each day are in the process of acquiring a home, it would be beneficial for them to get a better understanding of how house prices are formed. And I think I may answer the question "Which factor mostly determine a house's price". It is obviously a tough question to answer as many factors may play a rolein the final price at which a house is sold. Some of these factors depend on the house itsel such as its size,its condition, its location.

In [6]:
house = pd.read_csv("house_data.csv")
house. columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [7]:
house. shape

(21613, 21)

* The last dataset what I chosen is a survey on the smoking status of youths from 1999 to 2015(https://catalog.data.gov). This dataset provides data on both junior high school and high school students regarding exposure to environmental tobacco smoke, smoking cessation, school curriculum, minors' ability to purchase or otherwise obtain tobacco products, knowledge and attitudes about tobacco, and familiarity with pro-tobacco and anti-tobacco media messages. It consists of 10600 rows of 31 variables; cigarette smoking prevalence, cigarette smoking frequency, smokeless tobacco products prevalence and quit attempts. From this data set, I expect to be able to determine which factors encourage teenagers to smoke the most.

In [34]:
yts = pd.read_csv("Youth_Tobacco_Survey__YTS__Data.csv")
yts.shape

(10600, 31)

In [43]:
yts.columns

Index(['YEAR', 'LocationAbbr', 'LocationDesc', 'TopicType', 'TopicDesc',
       'MeasureDesc', 'DataSource', 'Response', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Data_Value_Std_Err', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Sample_Size', 'Gender', 'Race', 'Age',
       'Education', 'GeoLocation', 'TopicTypeId', 'TopicId', 'MeasureId',
       'StratificationID1', 'StratificationID2', 'StratificationID3',
       'StratificationID4', 'SubMeasureID', 'DisplayOrder'],
      dtype='object')