# Assignment
* Download the "Assignment.ipynb" notebook 
* Fill in the code in the cells marked with #GRADED#
* Code cells outside of #GRADED# will not be considered for grading. 
  * Feel free to write outside of it for debugging
* Submit the updated notebook
  * Make sure to save your changes before submitting it

In [6]:
#Import necessary libraries
import pandas as pd
import numpy as np

### Part 1: Array

In [7]:
# The following piece of code creates a Array
arr = np.arange(15).reshape(3, 5)
print(arr)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [14]:
# (a) Determine the shape, number of dimensions and type of elements in the numpy array arr

print('Shape of array:', arr.shape)
row, col = arr.shape
print('Number of Dimensions:', arr.ndim ,', having', row, "rows and", col, 'columns' )
print('Type of elements:', arr.dtype)

Shape of array: (3, 5)
Number of Dimensions: 2 , having 3 rows and 5 columns
Type of elements: int64

In [4]:
# (b) Determine the sum of elements in arr

print('Sum of all elements:', np.sum(arr))
print('Sum of column elements:', np.sum(arr, axis=0))
print('Sum of row elements:', np.sum(arr, axis=1))

Sum of all elements: 105
Sum of column elements: [15 18 21 24 27]
Sum of row elements: [10 35 60]

In [5]:
# (c) Determine the mean of elements in arr

print('Mean of all elements:', np.mean(arr))
print('Mean of column elements:', np.mean(arr, axis=0))
print('Sum of row elements:', np.mean(arr, axis=1))

Mean of all elements: 7.0
Mean of column elements: [5. 6. 7. 8. 9.]
Sum of row elements: [ 2.  7. 12.]

In [6]:
# (d) Create an array of the same shape as arr but filled with zeros

arr_zero = np.zeros(15).reshape(3, 5)
print('Arr filled with zeros:')
print(arr_zero)

Arr filled with zeros:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [8]:
# (e) Create an array of the same shape as arr but filled with ones

arr_zero = np.ones(15).reshape(3, 5)
print('Arr filled with ones:')
print(arr_zero)

Arr filled with ones:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [15]:
# (f) Create an array of the same shape as arr but where all elements are squared values

arr_square = arr ** 2
print('Arr with its Squared values:')
print(arr_square)

Arr with its Squared values:
[[  0   1   4   9  16]
 [ 25  36  49  64  81]
 [100 121 144 169 196]]

In [37]:
# (g) Create an array result of shape 3*3 resulting from multiplication of arr with transpose(arr). Hint: use np.dot

#creating transpose of arr
arr_t = np.transpose(arr) 
arr_mul = np.dot(arr, arr_t) #multiplyting arr(3*5) with its transpose(5*3)

# We should get new array with 3 rows & 3 columns
print('Multiplication of arr with its transpose:')
print(arr_mul)
print('Shape of new array:', arr_mul.shape)

Multiplication of arr with its transpose:
[[ 30  80 130]
 [ 80 255 430]
 [130 430 730]]
Shape of new array: (3, 3)

### Part 2: Dataframe

In [38]:
# The following piece of code creates a DataFrame 

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(df.head(10)) #prints the first 10 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [39]:
# (a) Determine the shape of the dataframe

print('Shape of dataframe:', df.shape)

Shape of dataframe: (150, 5)

In [40]:
# (b) Print out all the columns of the dataframe

print('Columns:',list(df))

Columns: ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [53]:
# (c) Print the 3rd element of the dataframe

# assuming 3rd element as 3rd column
ecol = df.iloc[:, 2]
print('Assuming 3rd element as 3rd column: (top 3 values)')
print(ecol.head(3))

#assuming 3rd element as 3rd row
erow = df.iloc [2, :]
print('Assuming 3rd element as 3rd row: (top 3 values)')
print(erow)

# assuming the element located at 3rd row & 3rd column
element = df.iloc [2, 2]
print('Assuming the element located at 3rd row & 3rd column:')
print(element)

Assuming 3rd element as 3rd column: (top 3 values)
0    1.4
1    1.4
2    1.3
Name: petal_length, dtype: float64
Assuming 3rd element as 3rd row: (top 3 values)
sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
Assuming the element located at 3rd row & 3rd column:
1.3

In [70]:
# (d) Find the average of 'petal_width' where species is 'virginica'

# without using groupby
vir = df.loc[df['species'] == 'virginica']
vir_pw = vir['petal_width'].mean()
print('Average petal_width for virginica:',vir_pw)

# using groupby
vpw = df.groupby('species').mean().loc['virginica','petal_width']
print('Average petal_width for virginica:',vpw)

Average petal_width for virginica: 2.026
Average petal_width for virginica: 2.026

In [71]:
# (e) Find the maximum of 'sepal_width' where species is 'setosa'

sws = df.groupby('species').max().loc['setosa','sepal_width']
print('Maximum sepal_width for setosa:',sws)

Maximum sepal_width for setosa: 4.4

In [72]:
# (f): What is the average value of sepal_length

print('Average of sepal_length:', round(df['sepal_length'].mean(),4))

Average of sepal_length: 5.8433

In [76]:
# (g): What is the maximum value of sepal_width

print('Maximum of sepal_width:', round(df['sepal_width'].max(),4))

Maximum of sepal_width: 4.4

In [77]:
# (h): What is the minimum value of petal_width

print('Minimum of petal_width:', round(df['petal_width'].min(),4))

Minimum of petal_width: 0.1

### Getting started on the capstone project
We will start working on our capstone project this week. For this week, the task consists of
Finding a dataset of interest.
    -You can use the links in the supplementary materials to help you find the dataset
    -This dataset should be publicly accessible and available for download
    -Should be of interest to the class
    -The goal is to be askign and answering important questions about the data
You can start with the following datasets or find your own
### Open datasets
          
* Resources for open data
  * https://data.boston.gov/
  * https://www.data.gov/
  * https://www.bls.gov/data/
  * http://www.fao.org/statistics/databases/en/
  * http://ec.europa.eu/eurostat/web/main
  * https://github.com/awesomedata/awesome-public-datasets
  * https://www.kdnuggets.com/2016/05/top-10-datasets-github.html
  * https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public
    
### Questions

* Q: Shortlist three datasets of interest
* Q: For each dataset suggest describe the data (a few sentences) and questions that can be answered using that data (a few sentences)

### Dataset 1

**Current Employee Names, Salaries, and Position Titles in Chicago -**

This dataset is a listing of all current City of Chicago employees, complete with full names, departments, positions, employment status (part-time or full-time), frequency of hourly employee –where applicable—and annual salaries or hourly rate.

**Questions that can be answered:**
1. Which department has the highest number of employees in Chicago.
2. What is the maximum and minimum salaries for each department.
3. Number of full time & part time employees in each department.
4. Distribution of average salaries based on department (Visualization).

### Dataset 2

**Employee Earnings Report 2017-Boston**

Each year, the City of Boston publishes payroll data for employees. This dataset contains employee names, job details, and earnings information including base salary, overtime, and total compensation for employees of the City.

**Questions that can be answered:**
 1. Department wise regular, injured, overtime and bonus earnings in Boston.
 2. What is the department wise total earnings.
 3. Which is the most earning department in Boston.
 4. Department/ Title wise earning trend of the employees.

### Dataset 3

**Crimes - One year prior to present in Chicago**

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that have occurred in the City of Chicago over the past year, minus the most recent seven days of data. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system.


**Questions that can be answered:**
 1. Time(Month) of the year when maximum crime was observed in last one year.
 2. Location where maximum crimes took place.
 3. Number of Domestic or non-domestic crimes. If Domestic, then which type of crime was majorly observed and same for non-domestic crime.
 4. What was the count of arrests per month by the police department?